@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #d8dadd;
  }

  /* Header  */


 
 
  .menu-header:hover {
    transition: all 0.3s ease-in-out;
  }

 
  header {
    padding-bottom: 20px;
    background-color: #fff;
  }

  /* Navbar */
  .section {
    margin: 10px;
    cursor: pointer;
  }

  /*  */
}
